@use 'src/styles/vars' as v;

@mixin flex($direction, $justify, $align) {

  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

.app {

  height: 100%;
  width: 70vw;
  background-color: v.$appBackground;
  @include flex($direction: column, $justify: space-evenly, $align: center);
}
